<div class="span8 offset2" ng-controller="GameListCtrl">
    <h4>List of Games</h4>
    <table class="span8 ">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>platform</th>
                <th>tags</th>
                <th>description</th>
                <th>cover</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
            	<td>{{game.id}}</td>
            	<td>{{game.title}}</td>
            	<td>{{game.platform}}</td>
            	<td>{{game.tags}}</td>
            	<td>{{game.description}}</td>
            	<td><img class="thumb" ng-src="img/games/{{game.id}}/{{game.cover}}" title="{{game.cover}}"/></td>
            </tr>
        </tbody>
</div>
