<div ng-controller="GameDetailsCtrl" id="form" class=".span4 .hide">
    <img src="img/currents/{{current.id}}/{{current.cover}}" title="{{app.title}}" />
    <ul>
        <li>
            <label for="current.id">{{app.current_id}}</label>
            <input id="current.id" type="number" ng-model="current.id" />
        </li>
        <li>
            <label for="current.title">{{app.current_title}}</label>
			<input id="current.title" type="text" ng-model="current.title" />
        <li>
        </li>
            <label for="current.platform">{{app.current_platform}}</label>
        	<input id="current.platform" type="text" ng-model="current.platform" />
        <li>
        </li>
            <label for="current.tags">{{app.current_tags}}</label>
            <input id="current.tags" type="text" ng-model="current.tags" /><li>
        </li>
		<li>
            <label for="current.description">{{app.current_description}}</label>
            <textarea id="current.description" ng-model="current.description" cols="50" rows="5"></textarea>
        </li>
	</ul>
</div>